<!-- this is header of page -->
<div id="offline-screen" class="offline-overlay d-none">
    <div class="offline-content text-center">
        <img src="/static/image/offline.png" alt="Offline Illustration" class="offline-img">
        <h2 class="mt-4">You're Offline</h2>
        <p>Please check your internet connection and try again.</p>
    </div>
</div>

<!-- spiter-web background  -->
<canvas id="spider-canvas"></canvas>

<!-- info about me  -->
<div class="fixed-info-button" id="open-info">
    <i class="fas fa-circle-info"></i>
</div>